@model CarListViewModel
@using WU16.BolindersBilAB.BLL.Helpers;
@{
    if (ViewBag.Parameter == "nya")
    {
        ViewData["Title"] = "Nya bilar";
    }
    else if (ViewBag.Parameter == "begagnade")
    {
        ViewData["Title"] = "Begagnade bilar";
    }
    else
    {
        ViewData["Title"] = "Alla bilar";
    }
}

<div id="cars-cars-container" class="container-fluid">
    <div class="row justify-content-center car-filter">
        <div class="col-lg-8 mt-3 text-center">
            <h1 class="text-center">@ViewData["Title"]</h1>
            <button class="btn btn-sm btn-primary w-50 hide-lg mb-2" data-toggle="collapse" data-target="#collapseFilter"><i class="fa fa-filter"></i> Filter</button>
            <form class="mt-4 collapse text-left" id="collapseFilter" asp-action="Cars" method="get">
                <div class="form-row">
                </div>
                <div class="form-row">
                    <div class="form-group col-lg-2 col-sm-6 col-6">
                        <label class="col-form-label">År från</label>
                        <select name="min-year" asp-for="Query.YearFrom" class="form-control">
                            <option value="0">-</option>
                            @foreach (var row in ViewBag.Years)
                            {
                                <option value="@row.Key">@row.Value</option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-lg-2 col-sm-6 col-6">
                        <label for="inputEmail4" class="col-form-label">År till</label>
                        <select name="max-year" asp-for="Query.YearTo" class="form-control">
                            <option value="0">-</option>
                            @foreach (var row in ViewBag.Years)
                            {
                                <option value="@row.Key">@row.Value</option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-lg-2 col-sm-6 col-6">
                        <label for="inputEmail4" class="col-form-label">Pris från</label>
                        <select name="min-price" asp-for="Query.PriceFrom" class="form-control">
                            <option value="0">-</option>
                            @foreach (var row in ViewBag.Prices)
                            {
                                <option value="@row.Key">@row.Value</option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-lg-2 col-sm-6 col-6">
                        <label for="inputEmail4" class="col-form-label">Pris till</label>
                        <select name="max-price" asp-for="Query.PriceTo" class="form-control">
                            <option value="0">-</option>
                            @foreach (var row in ViewBag.Prices)
                            {
                                <option value="@row.Key">@row.Value</option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-lg-2 col-sm-6 col-6">
                        <label for="inputEmail4" class="col-form-label">Mil från</label>
                        <select name="min-milage" asp-for="Query.MilageFrom" class="form-control">
                            <option value="0">-</option>
                            @foreach (var row in ViewBag.Milages)
                            {
                                <option value="@row.Key">@row.Value</option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-lg-2 col-sm-6 col-6">
                        <label for="inputEmail4" class="col-form-label">Mil till</label>
                        <select name="max-milage" asp-for="Query.MilageTo" class="form-control">
                            <option value="0">-</option>
                            @foreach (var row in ViewBag.Milages)
                            {
                                <option value="@row.Key">@row.Value</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-lg-3">
                        <label>Sök</label>
                        <input type="text" class="form-control" name="search" asp-for="Query.Search" />
                    </div>
                    <div class="form-group col-lg-3">
                        <label>Karosstyp</label>
                        <select style="width:100%; display:none;" name="type" id="carType" asp-for="Query.CarType" class="form-control" multiple="multiple">
                            @foreach (var type in Enum.GetNames(typeof(CarType)))
                            {
                                <option>@type</option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-lg-3">
                        <label>Drivmedel</label>
                        <select style="width:100%; display:none;" name="fuel" id="fuelType" asp-for="Query.FuelType" class="form-control" multiple="multiple">
                            @foreach (var type in Enum.GetNames(typeof(FuelType)))
                            {
                                <option>@type</option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-lg-3">
                        <label>Växellåda</label>
                        <select style="width:100%; display:none;" name="gearbox" id="gearbox" asp-for="Query.Gearbox" class="form-control" multiple="multiple">
                            @foreach (var type in Enum.GetNames(typeof(Gearbox)))
                            {
                                <option>@type</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group ml-auto mr-1">
                        <button type="submit" class="btn btn-primary">Sök</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-8 mt-2">
            <div class="row">
                @if (Model.Cars.Count > 0)
            {
                    @foreach (var car in Model.Cars)
                {
                        <div class="col-lg-6 mb-2">
                            <div class="card" data-url="@car.GetUrl()">
                                @if(car.CarImages.Count == 0)
                                {
                                    <img class="card-img-top" src="https://via.placeholder.com/500x250" alt="Card image cap">
                                }
                                else
                                {
                                    <img class="card-img-top" src="~/Images/upload/@car.CarImages.First().FileName" alt="@car.LicenseNumber"/>
                                }
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-xl-12">
                                            <h4 class="card-title">@car.CarBrand.BrandName @car.Model -@car.ModelYear.ToString().Substring(2)</h4>
                                        </div>
                                        <div class="col-xl-12">
                                            @{ var price = car.Price == null ? "Inget Pris Satt" : $"{car.Price} kr"; }
                                            <h4 class="card-text col-md-12"><span class="badge badge-primary">@price</span></h4>
                                        </div>
                                    </div>
                                    <hr class="w-100" />
                                    <div class="row spec-items">
                                        <div class="col-lg-4 col-4">
                                            <label>Mätarställning</label>
                                            <p>@car.Milage mil</p>
                                        </div>
                                        <div class="col-lg-4 col-4">
                                            <label>Bränsle</label>
                                            <p>@car.FuelType</p>
                                        </div>
                                        <div class="col-lg-4 col-4">
                                            <label>Växellåda</label>
                                            <p>@car.Gearbox</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                    <div class="mx-auto mt-3 mb-3" id="pager" page-query="@ViewBag.Query" data-page="@Model.Pager.CurrentPage" page-action="Cars" page-model="@Model.Pager"></div>
                }
                else
                {
                    <div class="col-lg-12 text-center">
                        <h5>Inga bilar hittades.</h5>
                    </div>
                }
            </div>
            </div>

        </div>
    </div>
    @section Scripts {
        <script src="~/js/_cars-cars.js" asp-append-version="true"></script>
    }

