@model WU16.BolindersBilAB.DAL.Models.Car
@{
    ViewData["Title"] = $"{Model.CarBrand.BrandName} {Model.Model} {Model.ModelYear}";

}
<div class="container" id="cars-details-container">
    <div class="row image-container">
        @if (Model.CarImages != null)
        {
            <div class="current-image col-xl-8 col-lg-8 col-md-8 col-sm-12">
                @{
                    var url = "/images/" + Model.CarImages.First().Id + ".jpg";

                    <text>
                    <img src="@url" />
                    </text>
                }
            </div>
            <div class="image-preview col-xl-4 col-lg-4 col-md-4 col-sm-12 align-self-end">
                @foreach (var img in Model.CarImages)
                {
                    var imgUrl = "/images/" + img.Id + ".jpg";
                    <text>
                    <img class="img-responsive" src="@imgUrl" />
                    </text>
                }
            </div>

                    }
                    else
                    {
                        <text>
                        <div class="no-images col-12">
                            <p>
                                <i class="fa fa-file-image-o"></i> Inga bilder upplaggda än.
                            </p>
                        </div>
                        </text>
                    }

    </div>

    <div class="row">
        <header class="col-xl-8 col-lg-8 col-md-8 ">
            <h1>@Model.CarBrand.BrandName @Model.Model @Model.ModelYear <button class="share-button btn btn-primary float-right"><i class="fa fa-share"></i></button></h1>
            <p>
                @Model.Description
            </p>

            <div>
                @foreach (var s in Model.Equipment.Split("|"))
                {
                    <text>
                    <span class="badge badge-success">@s</span>
                    </text>
                }
            </div>
        </header>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 px-0 parts-table-container">
            <table class="information-table table table-bordered">
                <thead>
                    <tr>
                        <th colspan="2">
                            Allmän Information
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Registrerings Nummer</td>
                        <td>@Model.LicenseNumber</td>
                    </tr>
                    <tr>
                        <td>Märke</td>
                        <td>@Model.CarBrand.BrandName</td>
                    </tr>
                    <tr>
                        <td>Model</td>
                        <td>@Model.Model</td>
                    </tr>
                    <tr>
                        <td>Årsmodell</td>
                        <td>@Model.ModelYear</td>
                    </tr>
                    <tr>
                        <td>Färg</td>
                        <td>@Model.Color</td>
                    </tr>
                    <tr>
                        <td>Miltal</td>
                        <td>@Model.Milage</td>
                    </tr>
                    <tr>
                        <td>Ny/Begagnad</td>
                        <td>
                            @if (Model.Used)
                            {
                                <text>Begagnad</text>
                            }
                            else
                            {
                                <text>Ny</text>

                            }
                        </td>
                    </tr>
                    <tr>
                        <td>Pris</td>
                        <td>
                            @{
                                var price = Model.Price * 1.25m;
                                <text>
                                @price kr
                                </text>
                            }
                        </td>
                    </tr>
                    @if (Model.IsLeaseable)
                    {
                        <tr>
                            <td>Leasing Pris</td>
                            <td>@Model.Price kr</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>


    <div class="row calculator">
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
            <form class="form">
                @{
                    var cash = Math.Floor(Model.Price * 0.2m);
                }

                @*<h4>Priskalkyl</h4>*@
                <div class="col-md-12 col-sm-12 form-group">
                    <div class="input-group">
                        <div class="input-group-addon">Kontant</div>
                        <input type="number" value="@cash" class="form-control" />
                        <div class="input-group-addon">Kr</div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 form-group">
                    <div class="input-group">
                        <div class="input-group-addon">Avbetalnigs längd</div>
                        <select value="36" class="custom-select form-control">
                            <option value="12">12 månader</option>
                            <option value="24">24 månader</option>
                            <option selected="selected" value="36">36 månader</option>
                            <option value="48">48 månader</option>
                            <option value="48">48 månader</option>
                            <option value="72">72 månader</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 form-group">
                    <button class="btn btn-block btn-primary">Räkna ut</button>
                </div>
            </form>


        </div>
        <div class="col-md-4 col-sm-12 price-result justify-content-sm-start">
            @*<h4>Konstnad</h4>*@
            <p class="month"></p>
            <p class="total"></p>
            <p>Kontakta säljare: <a href="tel:@Model.Location.PhoneNumber">@Model.Location.PhoneNumber</a></p>
        </div>
    </div>
</div>



@section Scripts {
    <script>
        $(document).ready(function () {
            $("#cars-details-container .image-preview img").on("click", function (e) {
                $("#cars-details-container .current-image img").off("click");

                let clone = e.target.cloneNode();
                $("#cars-details-container .current-image img").replaceWith(clone);

                addClickEvent();
                findHeight();
            });

            function addClickEvent() {
                $("#cars-details-container .current-image img").on("click", function (e) {
                    console.log("click");
                    $("body").append("<div class='cars-details-container-overlay'></div>");
                    $("body").append("<div class='card col-10 cars-details-container-modal'></div>");
                    $(".cars-details-container-modal").append(e.target.cloneNode());

                    $(".cars-details-container-overlay").on("click", function (e) {
                        e.target.remove();
                        $(".cars-details-container-modal").remove();
                    });

                });
            }

            addClickEvent();


            function findHeight() {
                if (!(window.innerWidth < 762)) {
                    const height = $("#cars-details-container .current-image img").height();
                    $("#cars-details-container .image-container").css("height", height + "px");
                }
                else {
                    $("#cars-details-container .image-container").css("height", "auto");
                }
            }
            $(window).on("resize", findHeight);
            $("#cars-details-container .current-image img").one("load", findHeight);
            findHeight();

            function calculatePrice() {
                const carCost = parseFloat("@Model.Price") * 1.25;
                const cashPayment = parseFloat($("#cars-details-container input[type=number]").val());
                const paymentLength = parseInt($("#cars-details-container select").val());

                const payment = Math.round((((carCost / paymentLength) * 12) * 1.045) / 12);
                const totalCost = payment * paymentLength
                $("#cars-details-container .price-result > p.month").text(payment + "Kr per månad");
                $("#cars-details-container .price-result > p.total").text("Total pris: " + totalCost + "Kr");
            }

            $("#cars-details-container form").on("submit", function (e) {
                e.preventDefault();
                calculatePrice();
            });

            calculatePrice();

            $("#cars-details-container .share-button").on("click", function (e) {
                $("body").append("<div class='cars-details-container-overlay'></div>");
                $("body").append("<div class='card col-xl-4 col-lg-4 col-md-6 col-sm-10 cars-details-container-modal'></div>");
                $(".cars-details-container-modal").append([
                    '<form>',
                        '<h4>Dela denna bil!</h4>',
                        '<div class="form-group"><input type="email" placeholder="Email" class="form-control" /></div><div class="form-group"><input type="submit" class="btn btn-primary btn-block" /></div>',
                    '</form>'
                ].join(""));

                $(".cars-details-container-modal form").on("submit", function (e) {
                    e.preventDefault();

                    $(".cars-details-container-modal").empty().append('<div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>')

                    $.ajax({
                        method: "POST",
                        url: "/api/bil/dela",
                        data: {
                            email: $(".cars-details-container-modal form input[type='email']").val(),
                            licenseNumber: "@Model.LicenseNumber"
                        },
                        success: function () {
                            $(".cars-details-container-modal").remove();
                            $(".cars-details-container-overlay").remove();
                        }
                    })
                });

                $(".cars-details-container-overlay").on("click", function (e) {
                    e.target.remove();
                    $(".cars-details-container-modal").remove();
                });


            });
        })
    </script>
}