@model WU16.BolindersBilAB.Web.Models.CarDetailsViewModel
@using WU16.BolindersBilAB.BLL.Helpers;
@{
    var car = Model.Car;

    ViewData["Title"] = $"{car.CarBrand.BrandName} {car.Model} {car.ModelYear}";

    var taxedPrice = Math.Round((car.Price ?? 0) * 1.25m, 2);
    var cashPayment = Math.Round(taxedPrice * 0.2m, 2).ToString(new System.Globalization.CultureInfo("en-US"));

    var anyImages = car.CarImages != null ? car.CarImages.Any() : false;
    string[] imageUrls = null;
    if (anyImages)
    {
        imageUrls = car.CarImages.Select(x => $"/images/upload/{x.FileName}").ToArray();
    }

    var condition = car.Used ? "Begagnad" : "Ny";
}

<div class="container" id="cars-details-container">
    @* Image display *@
    <div class="row image-container">
        @if (anyImages)
        {
            <div class="current-image col-xl-8 col-lg-8 col-md-8 col-sm-12">
                <img src="@imageUrls.First()" />
            </div>

            <div class="image-preview col-xl-4 col-lg-4 col-md-4 col-sm-12 align-self-end">
                @foreach (var url in imageUrls)
                {
                    <img src="@url" />
                }
            </div>
        }
        else
        {
            <div class="no-images col-12">
                <p>
                    <i class="fa fa-file-image-o"></i> Inga bilder upplaggda än.
                </p>
            </div>
        }
    </div>
    @* /Image display *@


    <div class="row">
        @* Main Content *@
        <main class="col-xl-8 col-lg-8 col-md-8 ">
            <h1>
                @ViewData["Title"]

                <button class="share-button btn btn-primary float-right">
                    <i class="fa fa-share"></i>
                </button>
            </h1>

            <p>
                @car.Description
            </p>

            <div class="equipment">
                @if (!string.IsNullOrEmpty(car.Equipment))
                {

                    foreach (var e in car.Equipment.Split(new char[] { '|', ',' }))
                    {
                        <span class="badge badge-success">@e</span>
                    }
                }
            </div>
        </main>
        @* /Main Content *@

        @* Information table *@
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 px-0">
            <table class="information-table table table-bordered">
                <thead>
                    <tr>
                        <th colspan="2">
                            Allmän Information
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Registrerings Nummer</td>
                        <td>@car.LicenseNumber</td>
                    </tr>
                    <tr>
                        <td>Märke</td>
                        <td>@car.CarBrand.BrandName</td>
                    </tr>
                    <tr>
                        <td>Model</td>
                        <td>@car.Model</td>
                    </tr>
                    <tr>
                        <td>Model beskrivning</td>
                        <td>@car.ModelDescription</td>
                    </tr>
                    <tr>
                        <td>Årsmodel</td>
                        <td>@car.ModelYear</td>
                    </tr>
                    <tr>
                        <td>Färg</td>
                        <td>@car.Color</td>
                    </tr>
                    <tr>
                        <td>Växellåda</td>
                        <td>@car.Gearbox.ToString()</td>
                    </tr>
                    <tr>
                        <td>Hästkrafter</td>
                        <td>@car.HorsePower hk</td>
                    </tr>
                    <tr>
                        <td>Biltyp</td>
                        <td>@car.CarType.ToString()</td>
                    </tr>
                    <tr>
                        <td>Miltal</td>
                        <td>@car.Milage</td>
                    </tr>
                    <tr>
                        <td>Bränsletyp</td>
                        <td>@car.FuelType.ToString()</td>
                    </tr>
                    <tr>
                        <td>Ny/Begagnad</td>
                        <td>@condition</td>
                    </tr>
                    <tr>
                        <td>Pris</td>
                        
                        @if (car.Price != null)
                        {
                            <td>@taxedPrice kr</td>
                        }
                        else
                        {
                            <td>Inget Pris Satt.</td>
                        }
                    </tr>
                    @if (car.IsLeaseable)
                    {
                        <tr>
                            <td>Leasing Pris</td>

                            @if (car.Price != null)
                            {
                                <td>@car.Price kr</td>
                            }
                            else
                            {
                                <td>Inget Pris Satt.</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @* /Information table *@
    </div>
    @* /Main Content *@

    @* Price Calculator *@
    @if (Model.Car.Price != null)
    {
        <div class="row price-calculator">
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                <form class="form">
                    <input type="hidden" value="@taxedPrice" />

                    <div class="col-12 form-group">
                        <div class="input-group">
                            <div class="input-group-addon">Kontant</div>
                            <input type="number" value="@cashPayment" class="form-control" />
                            <div class="input-group-addon">Kr</div>
                        </div>
                    </div>

                    <div class="col-12 form-group">
                        <div class="input-group">
                            <div class="input-group-addon">Avbetalnigs längd</div>
                            <select class="custom-select form-control">
                                <option value="12">12 månader</option>
                                <option value="24">24 månader</option>
                                <option selected="selected" value="36">36 månader</option>
                                <option value="48">48 månader</option>
                                <option value="48">48 månader</option>
                                <option value="72">72 månader</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-12 form-group">
                        <button class="btn btn-block btn-primary">Räkna ut</button>
                    </div>
                </form>
            </div>
            <div class="col-md-4 col-sm-12 price-result justify-content-sm-start">
                <p class="month"></p>
                <p class="total"></p>
                <p>Kontakta säljare: <a href="tel:@car.Location.PhoneNumber">@car.Location.PhoneNumber</a></p>
            </div>
        </div>
    }
    else
    {
        <div class="col-12 price-result justify-content-sm-start">
            <p>Kontakta säljare: <a href="tel:@car.Location.PhoneNumber">@car.Location.PhoneNumber</a></p>
        </div>
    }
    @* /Price Calculator *@

    @* Similar Cars *@
    @if (Model.SimilarCars != null)
    {
        if (Model.SimilarCars.Any())
        {
            <div class="row">
                @foreach (var sc in Model.SimilarCars)
                {
                    <a href="@car.GetUrl()" class="card float-left similar-car col-3 mx-auto">
                        <div class="card-deck">
                            @if (!string.IsNullOrEmpty(sc.ImageName))
                            {
                                <img class="card-img-top" src="~/Images/Upload/@sc.ImageName" alt="@sc.Title" />
                            }
                            else
                            {
                                <div class="card-img-top no-image">
                                    <p><i class="fa fa-file-image-o"></i></p>
                                </div>
                            }
                        </div>
                        <div class="card-block">
                            <h5>@sc.Title</h5>
                        </div>
                    </a>
                }
            </div>
        }
    }

    @* /Similar Cars *@


</div>

@section Scripts {
    <script src="~/js/_cars-details.js" asp-append-version="true"></script>
}