@model ContactsViewModel

@{
    ViewData["Title"] = "Kontakt";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 d-flex flex-column" style="background-color:#e8eff1;">
            <h2 class="mt-4 mb-4 text-center">Våra anläggningar</h2>
            <div class="row">
                @foreach (var item in Model.Locations)
                {
                    <div class="col-lg-12 mb-4 text-center">
                        <h4>@item.Name </h4>
                        <p>@item.Address, @item.Zip, @item.City</p>
                        <p><a href="tel:@item.PhoneNumber">@item.PhoneNumber</a></p>
                        <p class="mt-0"><a href="mailto:@item.Email ">@item.Email</a></p>
                        <iframe class="col-12"
                                height="400"
                                frameborder="0" style="border:0"
                                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAMvZHNncXZ93dbj6MZqOf3mCmPSP_rpes&q=@item.City,@item.Address" allowfullscreen></iframe>
                    </div>
                }
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 d-flex flex-column align-items-center mb-3">

            <h2 class="mt-4 mb-4 text-center">Kontaktforumulär</h2>
            <form class="col-lg-11" asp-action="Contact">
                @if (Model.Sent != null)
                {
                    if ((bool)Model.Sent)
                    {
                        <div class="w-100 alert alert-success text-center">Email skickat.</div>
                    }
                    else
                    {
                        <div class="w-100 alert alert-danger text-center">
                            Email skickades inte!
                            @if (!ViewContext.ModelState.IsValid)
                            {
                                <ul>
                                    @foreach (var error in ViewContext.ModelState.SelectMany(x => x.Value.Errors))
                                    {
                                        <li class="text-left">@error.ErrorMessage</li>
                                    }
                                </ul>
                            }
                        </div>
                    }
                }
                <div class="form-group">
                    <select class="form-control" name="Reciever">
                        <option value="">-Anläggning-</option>

                        @foreach (var item in Model.Locations)
                        {
                            <option value="@item.Email">@item.Name</option>
                        }
                    </select>
                </div>
                <div class="form-row">
                    <div class="form-group col-lg-6">
                        <input asp-for="FormModel.FirstName" name="FirstName" placeholder="Förnamn" type="text" class="form-control" />
                    </div>
                    <div class="form-group col-lg-6">
                        <input asp-for="FormModel.LastName" name="LastName" placeholder="Efternamn" type="text" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <input asp-for="FormModel.Email" name="Email" placeholder="E-postadress" type="email" class="form-control" />
                </div>
                <div class="form-group">
                    <input asp-for="FormModel.Subject" name="Subject" placeholder="Ämne" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <textarea rows="4" asp-for="FormModel.Message" name="Message" placeholder="Meddelande" class="form-control"></textarea>
                </div>
                <input class="btn float-right btn-primary" type="submit" />
            </form>
        </div>
    </div>
</div>
