@model ContactsViewModel


<div class="container">

    <div class="row">
        <div style="background-color:#ccc" class="col-6">
            <h2>Våra Anläggningar</h2>
            @foreach (var item in Model.Locations)
            {
                <div>
                    <h4>@item.Name </h4>
                    <p>Adress: @item.Address, @item.Zip, @item.City</p>
                    <p>E-Mail: @item.Email</p>
                </div>
            }

        </div>
        <div style="background-color:#fc0" class="col-6">
            @if (Model.Sent != null)
            {
                if ((bool)Model.Sent)
                {
                    <div class="alert alert-success">Email skickat.</div>
                }
                else
                {
                    <div class="alert alert-danger">Email skickades inte!</div>
                }
            }
            <h2>Kontakt forumulär</h2>
            <form asp-action="Index">
                <div>

                    <select name="Reciever">
                        @foreach (var item in Model.Locations)
                        {
                            <option value="@item.Email">@item.City</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <input name="FirstName" placeholder="Förnamn" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <input name="LastName" placeholder="Efternamn" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <input name="email" placeholder="E-Mailadress" type="email" class="form-control" />
                </div>
                <div class="form-group">
                    <input name="subject" placeholder="Ämne" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <textarea name="Message" placeholder="Brötext" class="form-control"></textarea>
                </div>
                <input type="submit" />
            </form>

        </div>
    </div>

</div>
